body {
    background-color: #090030;
    color: #e2e4eb;
}



/* import fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@media only screen and (min-width: 800px) {
    .mobile-navbar {
        display: none;
    }
    /* login page */
    .all-header {
        font-weight: bold;
        margin: 60px 0;
        color: #e2e4eb;
        font-size: 32px;
        letter-spacing: 2px;
    }
    .login-registration-s-l {
        float: left;
        clear: right;
    }
    .login-registration-s-l>img {
        width: 100%;
        height: 630px;
    }
    .login-reg-r {
        float: right;
        width: 50%;
        margin: 2% 0;
    }
    .all-button {
        border-radius: none;
        /* margin-top: px; */
        width: 100%;
        padding: 10px 20px;
        border: none;
        background-color: #e2e4eb;
        color: black;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    .all-button:hover {
        border-radius: none;
        /* margin-top: px; */
        width: 100%;
        padding: 10px 20px;
        border: none;
        background: linear-gradient(90deg, rgba(61, 193, 227, 1) 0%, rgba(165, 68, 98, 1) 50.83%, rgba(214, 59, 233, 1) 100%);
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    .undraw-container>img {
        width: 15%;
        margin: 4% 38%;
        margin-left: 44%;
    }
    /* dashboard */
    /* .content-f-r{
        float: right;
        clear: both;
    } */
    /* greeting */
    .greetings {
        float: left;
        margin: 8% 2px;
    }
    .greeting-time-of-day {
        width: 35px;
        height: auto;
        margin-top: -10px;
        margin-left: 12px;
    }
    .account-circle {
        background-color: #7C89BA;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        float: right;
        margin: 8% 10px;
    }
    .greeting-name {
        font-size: 30px;
        font-style: italic;
        font-weight: 900;
        letter-spacing: 0.1px;
    }
    .greeting {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 400;
        color: #e2e4eb;
    }
    /* sidebar */
    /*Allow main to be next to Nav*/
    .main {
        position: absolute;
        width: calc(100% - 40px);
        /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }
    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover+.main {
        margin-left: 200px;
    }
    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand,
    nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
    }
    /*adds border top to first nav box */
    nav.sidebar .navbar-nav>li:first-child {
        border-top: 1px #e5e5e5 solid;
    }
    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav>li {
        border-bottom: 1px #e5e5e5 solid;
    }
    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse,
    nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }
    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    /*gives sidebar width/height*/
    nav.sidebar {
        width: 200px;
        height: 700px;
        margin-left: -160px;
        position: fixed;
        float: left;
        /* clear: right; */
        z-index: 8000;
        margin-bottom: 0px;
    }
    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }
    /* Move nav to full on mouse over*/
    /* nav.sidebar:hover{
			margin-left: 0px;
		} */
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }
    /* dashboard amount */
    .money-image {
        width: 40px;
        height: auto;
        float: left;
    }
    .money-info {
        width: 95%;
        height: 105px;
        background: rgb(246, 181, 69);
        background: linear-gradient(0deg, rgba(246, 181, 69, 1) 0%, rgba(65, 188, 213, 1) 39%, rgba(62, 183, 197, 1) 63%, rgba(50, 162, 135, 1) 100%);
        padding: 20px 5%;
    }
    .amount-container {
        float: right;
        position: relative;
        left: -120px;
        color: white;
    }
    .amount-container>h4 {
        font-size: 24px;
        font-weight: bold;
        position: relative;
        top: -5px;
    }
    /* show only on mobile site */
    .mobile-version-amount-on {
        display: none;
    }
    /* notifications */
    .notifications-container>h3.notification {
        color: #e2e4eb;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1.5px;
        padding: 20px 0;
        text-transform: uppercase;
    }
    .notifications-list-container {
        border: 2px solid #e2e4eb;
        border-radius: 3%;
        padding: 20px;
        width: 75%;
    }
    .notification-detail>p {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .notification-date-time {
        font-size: 12px;
        font-weight: 300;
        margin: 10px 0;
        margin-top: 5px
    }
    .notification-amount>span {
        font-weight: 900;
    }
    .green {
        color: #4FB584;
        font-size: 12px;
    }
    .red {
        color: #F73761;
        font-size: 12px;
    }
    /* charts */
    .chart-header>h4,
    .trading-history-header {
        font-weight: 900;
        font-size: 26px;
        text-transform: uppercase;
    }
    .trading-history-header {
        font-size: 23px;
        padding: 5% 0
    }
    .trading-history {
        margin-bottom: 20%;
        overflow: scroll;
    }
    /* account */
    .back {
        margin: 50px 0;
        font-size: 20px;
        padding-top: 7%;
        color: #e2e4eb;
    }
    /* messages */
    .alert-success,
    .alert-danger,
    .alert-info {
        padding: 10px;
    }
    i.fas {
        font-size: 20px;
        padding-right: 4%;
    }
    /* .account-options-container {
        margin-bottom: 25%;
    }
    .account-options>a>span {
        font-size: 15px;
    } */
    .account-options-container {
        margin: 0 2%;
    }
    .account-name {
        font-style: normal;
    }
    .account-options>a {
        color: #e2e4eb;
    }
    .account-options>a>img {
        width: 25px;
        height: auto;
        margin-right: 32px;
    }
    .account-options>a>span {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .options-name {
        margin-top: 3px;
    }
    .account-options {
        border: 2px solid #e2e4eb;
        margin: 20px 4%;
        padding: 20px
    }
    #logout {
        color: #F73761;
    }

    /* investment plans */
    .plan-background {
        background: #201C42;
        margin-bottom: 6%;
        padding-bottom: 5%;
    }
    #icon-image>img {
        width: 80px;
        margin: 6% 38%;
    }
    .acct-title>h3 {
        font-weight: 900;
        font-size: 208%;
        letter-spacing: -2px;
    }
    .deposit>span {
        font-size: 18px;
        font-weight: 500;
    }


    /* withdrawal method */


    .withdrawal-method {
        background-color: #ff9e22;
        padding: 16%;
    }

    .withdrawal-icon {
        font-size: 250%;
    }
    .w-m-button {
        background-color: #009934;
        padding: 3% 8%;
        color: white;
    }


}


/* mobile */

@media only screen and (max-width: 768px) {
    /* sidebar turn off */
    .sidebar {
        display: none
    }
    /* greeting */
    .greetings {
        float: left;
        margin: 15% 4px;
    }
    .greeting-time-of-day {
        width: 35px;
        height: auto;
        margin-top: -10px;
        margin-left: 12px;
    }
    .account-circle {
        background-color: #7C89BA;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        float: right;
        margin: 15% 10px;
    }
    .greeting-name {
        font-size: 30px;
        font-style: italic;
        font-weight: 900;
        letter-spacing: 0.1px;
    }
    .greeting {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 400;
        color: #e2e4eb;
    }
    .fa-user {
        font-size: 30px;
        color: black;
        margin: 20% 25%;
    }
    /* money information */
    .money-image {
        width: 40px;
        height: auto;
        float: left;
    }
    .money-info {
        width: 95%;
        height: 105px;
        background: rgb(246, 181, 69);
        background: linear-gradient(0deg, rgba(246, 181, 69, 1) 0%, rgba(65, 188, 213, 1) 39%, rgba(62, 183, 197, 1) 63%, rgba(50, 162, 135, 1) 100%);
        padding: 20px 5%;
    }
    .amount-container {
        float: right;
        position: relative;
        left: -120px;
        color: white;
    }
    .amount-container>h4 {
        font-size: 24px;
        font-weight: bold;
        position: relative;
        top: -5px;
    }
    /* notifications */
    .notifications-container>h3.notification {
        color: #e2e4eb;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1.5px;
        padding: 20px 0;
        text-transform: uppercase;
    }
    .notifications-list-container {
        border: 2px solid #e2e4eb;
        border-radius: 3%;
        padding: 20px;
        margin-bottom: 130px;
    }
    .notification-detail>p {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .notification-date-time {
        font-size: 12px;
        font-weight: 300;
        margin: 10px 0;
        margin-top: 5px
    }
    .notification-amount>span {
        font-weight: 900;
    }
    .green {
        color: #4FB584;
        font-size: 12px;
    }
    .red {
        color: #F73761;
        font-size: 12px;
    }
    /* .col-xs-3{
        width: 0;
    } */
    /* menu Navigation */
    .navbar.navbar-default.navbar-fixed-bottom {
        background: #201c42;
        color: #e2e4eb;
        border-color: #201c42;
    }
    .icons-text>a {
        color: #e2e4eb;
    }
    .icons-text>a>span {
        font-size: 20px;
        text-align: center;
        color: #e2e4eb;
        margin-left: 39%;
    }
    .icons-text>a>h3 {
        font-size: 14px;
        margin: 5% 20%;
        text-transform: uppercase;
    }
    span.far.fa-user {
        color: #e2e4eb;
    }
    .mobile-nav {
        margin: 14px;
    }
    .menu-nav-icon {
        width: 20px;
        height: 20px;
        margin: 0 30%;
    }
    .home-nav-icon,
    .chart-nav-icon,
    .user-nav-icon {
        font-size: 25px;
        margin: 0 30%
    }
    .icons-text>h3 {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }
    /* account section */
    .account-options-container {
        margin: 0 2%;
        margin-top: 15%;
        margin-bottom: 20%;
    }
    .account-name {
        font-style: normal;
    }
    .account-options>a {
        color: #e2e4eb;
    }
    .account-options>a>img {
        width: 25px;
        height: auto;
        margin-right: 32px;
    }
    .account-options>a>span {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .options-name {
        margin-top: 3px;
    }
    .account-options {
        border: 2px solid #e2e4eb;
        margin: 20px 4%;
        padding: 20px
    }
    #logout {
        color: #F73761;
    }
    /* account settings */
    .close-button {
        float: right;
        margin: 10% 20px
    }
    .close-button>a {
        color: black;
    }
    .close-button>a>span {
        font-size: 20px;
    }
    .close-button-nav {
        margin: 0 35%;
    }
    .close-button-nav>a {
        background-color: #D7293A;
        color: white;
        padding: 17px 32px;
        font-size: 17px;
        font-weight: 900;
        letter-spacing: 1px;
    }
    .fixed-bottom-padding {
        padding: 20px 0;
    }
    /* withdraw funds */
    .dual-button {
        margin-left: 10px;
        font-weight: 900;
        text-transform: uppercase;
    }
    div>.btn-1 {
        background-color: #1E2DB6;
        color: white;
        padding: 15px 20px;
        font-size: 16px;
    }
    div>.btn-2 {
        background-color: #D7293A;
        color: white;
        padding: 15px 20px;
        margin-left: 20px;
        font-size: 16px;
    }
    .withdrawal-labels {
        color: #7E7A7A;
        padding: 3% 0;
    }
    .withdrawal-requirements {
        margin: 0 1.6%;
    }
    .form-control.withdrawal-bottom-margin {
        margin-bottom: 20px;
    }
    .withdrawal-account-header {
        margin-bottom: 0;
    }
    /* chart */
    .chart-image {
        height: auto;
        width: 300px;
        margin: 10px 10%;
    }
    .chart-header>h4,
    .trading-history-header {
        font-weight: 900;
        font-size: 26px;
        text-transform: uppercase;
    }
    .trading-history-header {
        font-size: 23px;
        padding: 5% 0
    }
    .trading-history {
        margin-bottom: 20%;
        overflow: scroll;
    }
    /* investment plans */
    .main-investment-container {
        margin-bottom: 23%;
    }
    .plan-background {
        background: #201C42;
        margin-bottom: 6%;
        padding-bottom: 5%;
    }
    #icon-image>img {
        width: 80px;
        margin: 6% 38%;
    }
    .acct-title>h3 {
        font-weight: 900;
        font-size: 208%;
        letter-spacing: -2px;
    }
    .deposit>span {
        font-size: 18px;
        font-weight: 500;
    }
    /* withdraw funds */
    .withdraw-funds-header {
        margin-left: 3%;
    }
    /* withdrawal account */
    .withdrawal-account-container {
        background-color: #1E2DB6;
        color: white;
        padding: 20%
    }
    .withdrawal-account-info>h4 {
        font-weight: 900;
        font-size: 30px;
    }
    .withdrawal-account-info>span {
        font-weight: 200;
        letter-spacing: 1px;
    }
    /* contact us */
    .contact-image-container {
        margin: 0 25%;
    }
    #contact-image {
        width: 200px;
        height: auto;
    }
    #contact-header>span {
        font-size: 15px;
        color: #7E7A7A;
    }
    #contact-header {
        margin: 10% 0;
    }
    #email {
        border: 2px solid black;
        padding: 2% 10px;
        margin-bottom: 20px;
    }
    #email>img {
        float: right;
    }
    #email>span {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.9px;
        color: #7E7A7A;
    }
    .email {
        margin-bottom: 2%;
        font-size: 15px;
        color: #7E7A7A;
        letter-spacing: 0.8px;
    }
    .copy-button {
        width: 20px;
        height: auto;
    }
    .social-media {
        border: 2px solid black;
        margin: 2% 0;
        padding: 2% 10px;
    }
    .social-media-container {
        margin-bottom: 4%;
    }
    /* deposit */
    .deposit-container {
        width: 100%;
    }
    #wallet-id-header {
        color: #7E7A7A;
        font-size: 15px;
        font-weight: 300;
    }
    #wallet-id {
        /* font-size: 24px; */
        font-weight: 900;
    }
    .or {
        margin: 8%;
        font-size: 24px;
        color: red;
        font-weight: 900;
    }
    #pay-w-card {
        color: white;
        font-size: 16px;
        font-weight: 700;
        background-color: #1E2DB6;
        padding: 20px 10%;
    }
    /* owl carousel settings for image  */
    #mobile-version-amount-off {
        display: none;
    }
    .owl-carousel .owl-item img {
        width: 60px;
    }
    .owl-next>span {
        left: 360px;
    }
    .owl-prev>span,
    .owl-next>span {
        font-size: 30px;
        position: relative;
        top: - 75px;
    }
    /* login form */
    /* bootstrap */
    input {
        border-radius: none;
    }
    .btn {
        width: 100%;
    }
    .form-control {
        border-radius: none;
    }
    /* login things */
    .login-registration-s-l>img {
        display: none;
    }
    .all-header {
        font-weight: bold;
        margin: 60px 0;
        color: #e2e4eb;
        font-size: 32px;
        letter-spacing: 2px;
    }
    .all-button {
        border-radius: none;
        /* margin-top: px; */
        width: 100%;
        padding: 10px 20px;
        border: none;
        background-color: #e2e4eb;
        color: black;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    .all-button:hover {
        border-radius: none;
        /* margin-top: px; */
        width: 100%;
        padding: 10px 20px;
        border: none;
        background: linear-gradient(90deg, rgba(61, 193, 227, 1) 0%, rgba(165, 68, 98, 1) 50.83%, rgba(214, 59, 233, 1) 100%);
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    .bottom-margin {
        margin-bottom: 40px;
    }
    /* account */
    .back {
        margin: 50px 0;
        font-size: 20px;
        padding-top: 7%;
        color: #e2e4eb;
    }
    /* messages */
    .alert-success,
    .alert-danger,
    .alert-info {
        padding: 10px;
    }
    i.fas {
        font-size: 20px;
        padding-right: 4%;
    }
    /* images on login, reg and mail sent */
    .undraw-container {
        margin: 10% 38%;
    }
    .undraw-link {
        margin: 10% 20%;
    }
    img.undraw-images {
        width: 75%;
        height: auto;
    }
    /* activation  */
    .activation-box {
        margin-top: 20%;
    }
    .activation-box>h2 {
        font-size: 200%;
        text-transform: uppercase;
        font-weight: 800;
    }
    .content {
        margin: 40% 0;
    }

        /* withdrawal method */


        .withdrawal-method {
            background-color: #ff9e22;
            padding: 16%;
            margin: 15% 0;
        }

        .withdrawal-icon {
            font-size: 250%;
        }
        .w-m-button {
            background-color: #009934;
            padding: 3% 8%;
            color: white;
        }
}

@media only screen and (max-width: 400px) {
    .amount-container {
        left: -35%;
    }
    .account-options-container {
        margin-bottom: 25%;
    }
    .account-options>a>span {
        font-size: 15px;
    }
    .col-xs-3 {
        padding-right: 0;
    }
}