{% block nav %} {% load static %}
<!-- top header -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-xs-6 header-padding">
                <span class="fas fa-phone-alt"></span> +1 (480) 361-5311
            </div>
            <div class="col-lg-2 col-xs-6 header-padding">
                <span class="fas fa-envelope"></span> support@uniqtrades
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            {% if user.is_authenticated %}
            <div class="col-lg-1 col-xs-6 header-padding">
                <span class="fas fa-lock"></span>
                <a href="/dashboard">
                  Dashboard
                </a>
            </div>
            <div class="col-lg-2 col-xs-6 header-padding">
                <span class="fas fa-user-lock"></span>
                <a href="/logout">Logout</a>
            </div>
            {% else %}
            <div class="col-lg-1 col-xs-6 header-padding">
                <span class="fas fa-lock"></span>
                <a href="/login">
                  Login
                </a>
            </div>
            <div class="col-lg-2 col-xs-6 header-padding">
                <span class="fas fa-user-lock"></span>
                <a href="/register">Register</a>
            </div>

            {% endif %}
        </div>
    </div>

</div>

<div class="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
                <a class="navbar-brand" href="{% url 'main:index' %}">
                    <img alt="Brand" class="logo" src="{% static 'images/uniqtrades-logo.png' %}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Investment Options <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'main:retirement-plan' %}">Retirement Plan</a></li>
                            <li><a href="{% url 'main:crude-oil' %}">Crude Oil</a></li>
                            <li><a href="{% url 'main:forex' %}">Forex</a></li>
                            {% comment %}
                            <!-- <li><a href="{% url 'main:' %}">Bitcoin</a></li> -->

                            {% endcomment %}
                            <li><a href="{% url 'main:commodities' %}">Commodities</a></li>
                            <li><a href="{% url 'main:marijuana' %}">Marijuana</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% endblock %}