{% include 'dashboard/base.html' %}
{% block title %}Account{% endblock %}
{% load static %}
{% block body %}

{% include 'dashboard/navigation.html' %}

<!-- greetings -->
    <div class="container">
        <div class="greetings">
            <div class="name">
                <h4 class="greeting-name account-name">My Account</h4>
                <span class="greeting">{{ user.first_name|title }} {{ user.last_name|title }} </span>
            </div>
        </div>
        <!-- account  -->
        <div class="account-circle">
            <a href="">
                <i class="far fa-user"></i>
            </a>
        </div>
    </div>

    <div class="container" id="messageId">
        {% include 'dashboard/messages.html' %}
    </div>

     <!-- account options -->
    <div class="account-options-container">

        <div class="account-options">
            <a href="{% url 'main:account-settings' %}">
            <i class="fas fa-user-cog"></i>
            <span class="options-name">My Account Settings</span></a>
        </div>

        <div class="account-options">
            <a href="{% url 'main:withdraw' %}">
            <i class="fas fa-money-check-alt"></i>
            <span class="options-name">Withdraw Funds</span></a>
        </div>

        <!-- <div class="account-options">
            <a href="./bank-settings.html">
            <i class="fas fa-university"></i>
            <span class="options-name">Bank and Withdrawal Settings</span></a>
        </div>

        <div class="account-options">
            <a href="{% url 'main:contact-us' %}" data-target="modal">
            <i class="fas fa-mobile"></i>
            <span class="options-name">Contact Us</span></a>
        </div> -->

        <div class="account-options">
            <a href="{% url 'main:logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                <span id="logout">Logout</span>
            </a>
        </div>

    </div>

{% endblock %}