{% extends 'dashboard/base.html' %}
{% block content %}

            <!-- images -->

    <div class="contact-image-container">
        <img src="./static/images/person-dropping-paper-on-box-1550337.jpg" alt="" id="contact-image">
    </div>
    
    <div id="contact-header" class="text-center">
        <span>
            You can reach us via our Email / social media profile
        </span>
    </div>

    <div class=" container contact-info-container">
        <div class="email-container">
            <label for="" class="email">Email Address</label>
            <div id="email">
                <span>support@uniqtrades</span>
                <img src="./static/images/icons/copy.png" alt="" class="copy-button">
            </div>
        </div>
        <div class="social-media-container">
                <label for="" class="email">Social Media</label>
                <div class="social-media">
                    <a href="">
                        <span class="fas fa-facebook">Facebook</span>
                    </a>
                </div>
                <div class="social-media">
                    <a href="">
                        <span class="fas fa-facebook">Facebook</span>
                    </a>
                </div>

                <div class="social-media">
                    <a href="">
                        <span class="fas fa-facebook">Facebook</span>
                    </a>
                </div>
            </div>
    </div>
{% endblock %}