{% include 'dashboard/base.html' %} {% load static %} {% block body %}
<!-- Navigation -->
{% include 'dashboard/navigation.html' %}

<!-- greetings -->
<!-- 
  *-f-r = float right
-->
<div class="content-f-r">
    <!-- greetings -->
    <div class="container">

        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                {
                    "symbols": [{
                        "proName": "FOREXCOM:SPXUSD",
                        "title": "S&P 500"
                    }, {
                        "proName": "FOREXCOM:NSXUSD",
                        "title": "Nasdaq 100"
                    }, {
                        "proName": "FX_IDC:EURUSD",
                        "title": "EUR/USD"
                    }, {
                        "proName": "BITSTAMP:BTCUSD",
                        "title": "BTC/USD"
                    }, {
                        "proName": "BITSTAMP:ETHUSD",
                        "title": "ETH/USD"
                    }],
                    "colorTheme": "light",
                    "isTransparent": false,
                    "displayMode": "adaptive",
                    "locale": "en"
                }
            </script>
        </div>
        <!-- TradingView Widget END -->
        <div class="greetings">

            <!-- reinstall -->
            <div class="name">
                {% if request.user %}
                <h4 class="greeting-name">{{ request.user.first_name|title }},</h4>
                {% else %}
                <h4 class="greeting-name">User</h4>
                {% endif %}

                <span class="greeting">{{ greeting }}</span>


            </div>
            <br> {% if request.user.profile.select_plan %}
            <span><strong>Plan Selected:</strong> {{ request.user.profile.select_plan}} </span> {% else %}
            <span>Select Plan</span> {% endif %}
        </div>
        <!-- account  -->
        <div class="account-circle">
            <a href="">
                <i class="far fa-user"></i>
            </a>
        </div>
    </div>
    <!-- test  -->
    <!-- level on dashboard -->
    <div class="container">
        {% if user.accountupgrade.verify %} LEVEL 2 {% else %}
        <!-- upgrade warning  -->
        <div class="container">
            <div class="warning-container">
                <p>Hello {{ user.username }}, Your Account has not been Verifed for Upgrades. Please visit the <a href="{% url 'main:upgrade' %}">Verify</a> Section to Verify your account.</p>
            </div>
        </div>
        {% endif %} {% if request.user.profile.select_plan == 'Premium' %}
        <h4 class="text-success">Level 1</h4>
        {% elif request.user.profile.select_plan == 'Luxury' %}
        <h4 class="text-success">Level 2</h4>
        {% elif request.user.profile.select_plan == 'VIP' %}
        <h4 class="text-success">Level 3</h4>
        {% elif request.user.profile.select_plan == 'VIP Luxury' %}
        <h4 class="text-success">Level 4</h4>
        {% elif request.user.profile.select_plan == 'Silver' %}
        <h4 class="text-success">Level 5</h4>
        {% elif request.user.profile.select_plan == 'Gold' %}
        <h4 class="text-success">Level 6</h4>
        {% elif request.user.profile.select_plan == 'Platinum' %}
        <h4 class="text-success">Level 7</h4>
        {% elif request.user.profile.select_plan == 'Diamond' %}
        <h4 class="text-success">Level 8</h4>
        {% elif request.user.profile.select_plan == 'Sapphire' %}
        <h4 class="text-success">Level 9</h4>
        {% elif request.user.profile.select_plan == 'Emerald' %}
        <h4 class="text-success">Level 10</h4>
        {% elif request.user.profile.select_plan == 'Tanzanite' %}
        <h4 class="text-success">Level 11</h4>
        {% elif request.user.profile.select_plan == 'Ruby' %}
        <h4 class="text-success">Level 12</h4>
        {% else %}
        <h4 class="text-danger">No Plan Selected</h4>
        {% endif %}
    </div>


    <!-- desktop view of the amount  -->
    <div id="mobile-version-amount-off">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4">
                    <div class="money-info item">
                        <div class="current-balance-background">
                            <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">

                            <!-- remove -->
                            <!-- <img src="../../static/images/icons/money.png" alt="" class="money-image"> -->
                            <div class="amount-container">
                                <span class="current-balance">Current Balance</span> {% if balance %}
                                <h4>$ {{ balance.amount }}</h4>
                                {% else %}
                                <h4>$ 0.00 </h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="money-info item">
                        <div class="total-deposits-background">
                            <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                            <div class="amount-container">
                                <span class="total-deposits">Total Deposits</span> {% if total_deposit.amount %}
                                <h4>$ {{ total_deposit.amount }}</h4>
                                {% else %}
                                <h4>$ 0.00 </h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="money-info item">
                        <div class="current-balance-background">
                            <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                            <div class="amount-container">
                                <span class="total-withdrawals">Total Withdrawals</span> {% if total_withdrawal.amount %}
                                <h4>{{ total_withdrawal.amount }}</h4>
                                {% else %}
                                <h4>$ 0.00 </h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="money-info item">
                        <div class="current-balance-background">
                            <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">

                            <!-- remove -->
                            <!-- <img src="../../static/images/icons/money.png" alt="" class="money-image"> -->
                            <div class="amount-container">
                                <span class="current-balance">Marijuana Investment</span> {% if marijuana.amount %}
                                <h4>$ {{ marijuana.amount }}</h4>
                                {% else %}
                                <h4>$ 0.00 </h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="money-info item">
                        <div class="total-deposits-background">
                            <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                            <div class="amount-container">
                                <span class="total-deposits">Crude Oil</span> {% if crudeoil.amount %}
                                <h4>$ {{ crudeoil.amount }}</h4>
                                {% else %}
                                <h4>$ 0.00 </h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="money-info item">
                        <div class="current-balance-background">
                            <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                            <div class="amount-container">
                                <span class="total-withdrawals">Bitcoin</span> {% if otherInvestments.amount %}
                                <h4>{{ otherInvestments.amount }}</h4>
                                {% else %}
                                <h4>$ 0.00 </h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- current balance et al information -->
    <div class="mobile-version-amount-on">
        <div class="container owl-carousel">
            <div class="money-info item">
                <div class="current-balance-background">
                    <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">

                    <!-- remove -->
                    <!-- <img src="../../static/images/icons/money.png" alt="" class="money-image"> -->
                    <div class="amount-container">
                        <span class="current-balance">Current Balance</span> {% if balance %}
                        <h4>$ {{ balance.amount }}</h4>
                        {% else %}
                        <h4>$ 0.00 </h4>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="money-info item">
                <div class="total-deposits-background">
                    <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                    <div class="amount-container">
                        <span class="total-deposits">Total Deposits</span> {% if total_deposit %}
                        <h4>$ {{ total_deposit.amount }}</h4>
                        {% else %}
                        <h4>$ 0.00 </h4>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="money-info item">
                <div class="current-balance-background">
                    <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                    <div class="amount-container">
                        <span class="total-withdrawals">Total Withdrawals</span> {% if total_withdrawal %}
                        <h4>{{ total_withdrawal.amount }}</h4>
                        {% else %}
                        <h4>$ 0.00 </h4>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="money-info item">
                <div class="current-balance-background">
                    <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">

                    <!-- remove -->
                    <!-- <img src="../../static/images/icons/money.png" alt="" class="money-image"> -->
                    <div class="amount-container">
                        <span class="current-balance">Marijuana</span> {% if marijuana.amount %}
                        <h4>$ {{ marijuana.amount }}</h4>
                        {% else %}
                        <h4>$ 0.00 </h4>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="money-info item">
                <div class="total-deposits-background">
                    <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                    <div class="amount-container">
                        <span class="total-deposits">Crude Oil</span> {% if crudeoil.amount %}
                        <h4>$ {{ crudeoil.amount }}</h4>
                        {% else %}
                        <h4>$ 0.00 </h4>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="money-info item">
                <div class="current-balance-background">
                    <img src="{% static '/images/icons/money.png'%}" alt="" class="money-image">
                    <div class="amount-container">
                        <span class="total-withdrawals">Bitcoin</span> {% if otherInvestments.amount %}
                        <h4>{{ otherInvestments.amount }}</h4>
                        {% else %}
                        <h4>$ 0.00 </h4>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">

        <!-- reinstall -->
        <!-- {% include 'dashboard/messages.html' %} -->
    </div>

    <div class="container">
        <!-- notifications -->
        <div class="notifications-container">
            <h3 class="notification">Notifications</h3>
            <div class="notifications-list-container">

                <!-- reinstall -->
                {% for noti in notification %}
                <div class="row">
                    <div class="col-xs-1">
                        <span class="fas fa-circle green"></span>
                    </div>
                    <div class="col-xs-8">
                        <div class="notification-detail">
                            <p>{{ noti.notification_detail }}</p>
                        </div>
                        <div class="notification-date-time">
                            <span>Date: {{ noti.notification_date_time }} </span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="notification-amount">
                            {% if noti.optional_amount %}
                            <span>{{ noti.optional_amount }}</span> {% else %}
                            <span>-</span> {% endif %}
                        </div>
                    </div>

                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-xs-1">
                        <span class="fas fa-circle red"></span>
                    </div>
                    <div class="col-xs-8">
                        <div class="notification-detail">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="notification-date-time">
                            <span>Date: Thur, 10 Oct 1996 18:11:10 GMT</span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="notification-amount">
                            <span>- $50</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% endblock %}