<!DOCTYPE html>
<html lang="en">
<!--  -->
<!-- {% load static %} -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} UniqTrades | Home {% endblock %}</title>

    <!-- owl carousel  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <!-- owl-carousel -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"> -->


    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %} ">

    <!-- slider css -->
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">

    <!-- Animate.css -->

    <!--  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/animate.css' %} "> -->

    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">

    <!-- wowjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

    <!-- chatapp -->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5ed8c1054a7c62581799e5ef/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    
</head>

<body>
    <!-- top header -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-xs-6 header-padding">
                    <span class="fas fa-phone-alt"></span> +1 (480) 361-5311 
                </div>                
                <div class="col-lg-2 col-xs-6 header-padding">
                    <span class="fas fa-envelope"></span> support@uniqtrades
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                {% if user.is_authenticated %}
                <div class="col-lg-1 col-xs-6 header-padding">
                    <span class="fas fa-lock"></span>
                    <a href="/dashboard">
                      Dashboard
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6 header-padding">
                    <span class="fas fa-user-lock"></span>
                    <a href="/logout">Logout</a>
                </div>
                {% else %}
                <div class="col-lg-1 col-xs-6 header-padding">
                    <span class="fas fa-lock"></span>
                    <a href="/login">
                      Login
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6 header-padding">
                    <span class="fas fa-user-lock"></span>
                    <a href="/register">Register</a>
                </div>

                {% endif %}
            </div>
        </div>
       
    </div>

    <div class="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" class="logo" src="{% static 'images/uniqtrades-logo.png' %}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="">About Us</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>



        <!-- Banner  -->

        <!-- slider -->
        <div class="slider-container" id="slider-container">
            <div class="caption" id="slider-caption">
                <div class="caption-heading">
                    
                </div>
                <div class="caption-subhead"><span>INVESTMENT PLATFORM</span></div><a class="btn" href="#">Sit Amet</a></div>
                
            <div class="left-col" id="left-col">
                <div id="left-slider"></div>
            </div>
            <div class="extra-info">
                    <h3>TRADE STOCKS,<br/> CRUDE OIL,<br/> MARIJUANA <br/>AND LOTS MORE</h3>
                    <a href="{% url 'main:investments' %}" class="btn btn-primary" id="extra-info-button">Read More</a>
            </div>
            <ul>
                <!-- <li class="slide-up">
                    <a href="#">
                        <</a>
                </li> -->
                <li class="slide-down"> <a id="down_button" href="#"></a></li>
            </ul>
            <div class="button-call-to-action">
                <a class="join-us" href="/register">
                    Join Us
                </a>
            </div>
        </div>
        <!-- end of banner -->


        <div class="parallax">
            <!-- about us  -->
    
            <div id="about-us-image">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UpBPwcPQVD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
            </div>
    
            <!-- *-f-r # float right -->
            <div class="wow bounceInRight desktop-f-r background-right">
                <div class="about-us-banner">
                    <div class="about-us-inner-margin">
    
                        <div id="desktop-about-width">
                            <h3 class="text-center about-us-header wow bounceInDown">ABOUT UNIQ TRADES</h3>
                            <!-- <span class=""></span> -->
                            <div class="line-under wow rubberBand"></div>
                            <p class="about-us wow slideInRight">
                                We provide fastest trading using modern technologies. No delays in order executions and most accurate quotes. Our trading platform is available around the clock and on weekends. Uniqtrades customer service runs 24/7. We are continuously adding new financial
                                instruments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- end of about us  -->


        <!-- how we work -->
        <div class="thin-border wow flipInX">
            <div class="how-we-work-background animated rubberBand">
                <h4 class="text-center service-header animated lightSpeedIn">HOW WE WORK</h4>
            </div>
        </div>

        <div class="how-we-work">
            <div class="services-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">

                            <div class="service-details">
                                <div class="service-icon">
                                    <img class="service-images wow slideInDown" src="{% static 'images/icons/new/shield.png'%}" alt="">

                                </div>
                                <div class="service-body">
                                    <h5 class="text-center main-service-header wow fadeIn">Uncompromised Safety</h5>
                                    <p class="text-center main-service-subheading wow fadeIn">
                                        With six regulatory authorities and segregated accounts, your money is protected at all times.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">

                            <div class="service-details">
                                <div class="service-icon wow fadeIn">
                                    <img class="service-images wow slideInDown" src="{% static 'images/icons/new/search.png'%}" alt="">
                                </div>
                                <div class="service-body">
                                    <h5 class="text-center main-service-header wow fadeIn">No Hidden Fees</h5>
                                    <p class="text-center main-service-subheading wow fadeIn">
                                        We offer 5% commissions.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">

                            <div class="service-details">
                                <div class="service-icon wow fadeIn">
                                    <img class="service-images wow slideInDown" src="{% static 'images/icons/new/24-7.png'%}" alt="">
                                </div>
                                <div class="service-body">
                                    <h5 class="text-center main-service-header wow fadeIn">Bitcoin Never Goes to Sleep</h5>
                                    <p class="text-center main-service-subheading wow fadeIn">
                                        Uniqtrade is one of the few brokers offer around-the-clock service and support in 14 languages.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6">

                            <div class="service-details">
                                <div class="service-icon wow fadeIn">
                                    <img class="service-images wow slideInDown" src="{% static 'images/icons/new/risk.png'%}" alt="">
                                </div>
                                <div class="service-body">
                                    <h5 class="text-center main-service-header wow fadeIn">Limit Your Risk </h5>
                                    <p class="text-center main-service-subheading wow fadeIn">
                                        You can preset profit and loss levels by using stop losses or take profit limits when you trade. Determine the maximum amount you are prepared to risk when speculating on the price, or set a price at which you want to take profits. Future orders like
                                        Buy Stops and Buy Limits are also available.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="service-details">
                                <div class="service-icon wow fadeIn">
                                    <img class="service-images wow slideInDown" src="{% static 'images/icons/new/dollar.png'%}" alt="">
                                </div>
                                <div class="service-body">
                                    <h5 class="text-center main-service-header wow fadeIn">Trade Cryptos Against Fiat Currencies</h5>
                                    <p class="text-center main-service-subheading wow fadeIn">
                                        Unlike many exchanges out there, who are restricting their clients to trade only Crypto to Crypto, our clients can trade Cryptos against Fiat currencies (USD, EUR, JPY etc.), as well.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of how we work -->

        <!-- Plans -->
        <div class="container">
            <div class="row">
                <h3 class="plan-header">Plans</h3>
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">Premium</h4>
                            <h2 class="plan-amount">$ 1,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                10% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 0.6
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">Luxury</h4>
                            <h2 class="plan-amount">$ 2,500</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                25% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.9
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner"> VIP</h4>
                            <h2 class="plan-amount">$ 5,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                50% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                    <span class="fas fa-check"></span>
                                    scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                            </p>
                            <p>
                                    <span class="fas fa-check"></span>
                                    Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>                    
                
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">VIP Luxury</h4>
                            <h2 class="plan-amount">$ 7,500</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                60% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 0.6
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">SILVER</h4>
                            <h2 class="plan-amount">$ 10,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                75% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.9
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">GOLD</h4>
                            <h2 class="plan-amount">$ 25,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                91% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">PLATINUM</h4>
                            <h2 class="plan-amount">$ 50,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                95% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">DIAMOND</h4>
                            <h2 class="plan-amount">$ 75,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                110% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">SAPPHIRE</h4>
                            <h2 class="plan-amount">$ 150,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                150% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">EMERALD</h4>
                            <h2 class="plan-amount">$ 350,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                120% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">TANZANITE</h4>
                            <h2 class="plan-amount">$ 500,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                200% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="front-card">
                        <div class="plans">
                            <h4 class="plan-header-inner">RUBY</h4>
                            <h2 class="plan-amount">$ 750,000</h2>
                            <p> 
                                <span class="fas fa-check"></span>
                                210% Deposit Bonus
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                spread 1.5
                            </p>
                            <p> 
                                <span class="fas fa-check"></span>
                                Negative balance protection
                            </p>
                            <p>
                                 <span class="fas fa-check"></span>
                                 scalping   
                            </p>
                            <p>
                                <span class="fas fa-check"></span>
                                Daily Signals   
                           </p>
                           <p>
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                            </p>
                            <a href="/register" class="btn btn-success plan-button">Sign Up</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- end of plan -->


        <!-- bitcoin -information -->

        <div class="wow bounceInUp">
            <div class="bitcoin-information text-center container">
                <h3 class="">CRYPTO-CURRENCY
                    <br/> INFORMATION</h3>
                <div class="line-under"></div>
            </div>
        </div>

        <div class="container">
            <div class="chart-center">
                <div class="btcwdgt-chart" bw-noshadow="true"></div>
            </div>
        </div>
        <!-- end of bitcoin information -->

        <!-- help section -->

        <section class="help text-center">
            <h3 class="wow fadeInRight">HAVE A QUESTION?</h3>
            <h3 class="wow slideInLeft">WE HELP HERE</h3>
            <span id="support-email wow bounceIn">support@uniqtrades.com</span>
        </section>

        <!-- end of help section -->

        <!-- company information -->
        <div class="company-information-container text-center ">
            <h3 class="company-information wow bounce">Company Information</h3>
            <div class="line-under wow rubberBand"></div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="company-name">
                            <h4 class="wow slideInRight">COMPANY NAME</h4>
                            <h3 class="wow bounceInUp">UNIQ TRADES</h3>
                        </div>
                    </div>

                    <br>
                    <div class="col-sm-12 col-md-6">
                        <div class="company-number">
                            <h4 class="wow slideInRight">COMPANY NUMBER</h4>
                            <h3 class="wow bounceInUp">#06514515</h3>
                        </div>
                    </div>
                    <br>

                </div>
            </div>

        <!-- Testimonial -->
        <div class="testimonial-parallax">
            <div class="testimonial-header" class="text-center">
                <h3>Testimonial</h3>
            </div>
            <div class="testimonial-body">
                <div class="container">
                    <div class="owl-carousel">
                        <div class="row item">
                            <div class="col-lg-3 ">
                                <div class="testifier-image">
                                    <img src="../../static/images/men-s-wearing-black-suit-jacket-and-pants-937481.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 message-body">
                                <div class="testifier-message">
                                    <p>This has to be the most reliable,and easy to use platform I have ever tried, trusted,guaranteed and reliable. It’s seamless performance is top notch . I required weed investment, though my start-up was a bit shaky and scary but I said ”huge capital, huge profit”                                    </p>
                                </div>  
                                <div class="testifier-full-name">
                                    <span>- David Hong-Wei</span>
                                </div>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-lg-3 ">
                                <div class="testifier-image">
                                    <img src="../../static/images/man-young-happy-smiling-91227.jpg" alt="">    
                                </div>
                            </div>
                            <div class="col-lg-9 message-body">
                                <div class="testifier-message">
                                    <p>Thank you Unique trades for a successful investment, I had never thought I would make such profits investing in weed investment. Well, this is a great testimony from me. I’m indeed grateful</p>
                                </div>  
                                <div class="testifier-full-name">
                                    <span>- Randy Ealy</span>
                                </div>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-lg-3 ">
                                <div class="testifier-image">
                                <img src="../../static/images/woman-wearing-gray-notch-lapel-suit-jacket-2381069.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 message-body">
                                <div class="testifier-message">
                                <p>I want to say a big thank you to uniqtrades for their support . I will really appreciate it if you could reduce the cost of your swift code. Uniqtrades is an awesome platform.</p> 
                                </div>  
                                <div class="testifier-full-name">
                                <span> - Amanda khoza</span>
                                    
                                </div>
                            </div>
                        </div>                            
                        <div class="row item">
                            <div class="col-lg-3 ">
                                <div class="testifier-image">
                                <img src="../../static/images/cheerful-male-hipster-sitting-at-table-with-colleague-in-4529035.jpg" alt="">  
                                </div>
                            </div>
                            <div class="col-lg-9 message-body">
                                <div class="testifier-message">
                                    <p>These platform had been one of the greatest   Pay-back investment site. it’s unbelievable how I got my first profit after two weeks of short trading, I’m definitely signing up for the annual trading. Uniqtrades you the best. I think the startup capital should be dropped by 5%. Your platform is the most reliable platform.</p>                        </div>  
                                <div class="testifier-full-name">
                                    <span> - Louis A. Littell</span>  
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>


            <!-- footer -->
            <footer class='footer-color  text-center'>
                <div class="footer-img wow bounceIn">
                    <img src="./static/images/uniqtrades-logo.png" alt="">
                </div>
                <div class="footer-contact-section">

                    <!-- location -->
                    <h3 class="wow slideInRight">
                        Location
                    </h3>
                    <p>
                        <i class="fas fa-map-pin wow slideInLeft"></i> 3426 E Elgin St, Gilbert, AZ, 85296
                    </p>
                    <!-- phone -->
                    <h3 class="wow slideInRight">Phone</h3>
                    <p>
                        <i class="fas fa-mobile slideInLeft"></i> +1 (480) 361-5311
                    </p>

                    <!-- email -->
                    <h3 class="wow slideInRight">E-mail Us</h3>
                    <p>
                        <i class="fas fa-envelope slideInLeft"></i> support@uniqtrades.com
                    </p>
                </div>
                <div class="text-center wow fadeInRight">
                    <p><strong>All rights reserved &copy; 2020</strong></p>
                </div>
            </footer>
            <!-- end of footer -->
        </div>
    </div>
    
    <!-- main js file -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        (function(b, i, t, C, O, I, N) {
            window.addEventListener('load', function() {
                if (b.getElementById(C)) return;
                I = b.createElement(i), N = b.getElementsByTagName(i)[0];
                I.src = t;
                I.id = C;
                N.parentNode.insertBefore(I, N);
            }, false)
        })(document, 'script', 'https://widgets.bitcoin.com/widget.js', 'btcwdgt');
        
        wow = new WOW({
            boxClass: 'wow', // default
            animateClass: 'animated', // default
            offset: 0, // default
            mobile: true, // default
            live: true // default
        });
        wow.init()

        let slide_data = [
            {
            'src':'https://images.pexels.com/photos/315939/pexels-photo-315939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940',
            'title':'Welcome To Low <br/> Risk Investments',
            'copy':''
            },
            {
            'src':'https://images.pexels.com/photos/534216/pexels-photo-534216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', 
            'title':'Get Higher Profits <br/> on Low investments',
            'copy':''
            },
            {
            'src':'https://cdn.pixabay.com/photo/2017/05/02/15/34/city-2278497_960_720.jpg', 
            'title':'Reliable Crypto <br/> Trading Platform',
            'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
            },
            {
            'src':'https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', 
            'title':'Quick and Instant <br/> execution of orders ',
            'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
            },
            
        ];
        let slides = [],
            captions = [];
        
        let autoplay = setInterval(function(){
            nextSlide();
        },15000);
        let container = document.getElementById('slider-container');
        let leftSlider = document.getElementById('left-col');
        // console.log(leftSlider);
        let down_button = document.getElementById('down_button');
        // let caption = document.getElementById('slider-caption');
        // let caption_heading = caption.querySelector('caption-heading');
        
        down_button.addEventListener('click',function(e){
            e.preventDefault();
            clearInterval(autoplay);
            nextSlide();
            autoplay;
        });
        
        for (let i = 0; i< slide_data.length; i++){
            let slide = document.createElement('div'),
                caption = document.createElement('div'),
                slide_title = document.createElement('div');
            
            slide.classList.add('slide');
            slide.setAttribute('style','background:url('+slide_data[i].src+')');
            caption.classList.add('caption');
            slide_title.classList.add('caption-heading');
            slide_title.innerHTML = '<h1>'+slide_data[i].title+'</h1>';
            
            switch(i){
            case 0:
                slide.classList.add('current');
                caption.classList.add('current-caption');
                break;
            case 1:
                slide.classList.add('next');
                caption.classList.add('next-caption');
                break;
            case slide_data.length -1:
                slide.classList.add('previous');
                caption.classList.add('previous-caption');
                break;
            default:
                break;       
            }
            caption.appendChild(slide_title);
            caption.insertAdjacentHTML('beforeend','<div class="caption-subhead"><span>With UniqTrades</span></div>');
            slides.push(slide);
            captions.push(caption);
            leftSlider.appendChild(slide);
            container.appendChild(caption);
        }
        // console.log(slides);
        
        function nextSlide(){
            // caption.classList.add('offscreen');
            
            slides[0].classList.remove('current');
            slides[0].classList.add('previous','change');
            slides[1].classList.remove('next');
            slides[1].classList.add('current');
            slides[2].classList.add('next');
            let last = slides.length -1;
            slides[last].classList.remove('previous');
            
            captions[0].classList.remove('current-caption');
            captions[0].classList.add('previous-caption','change');
            captions[1].classList.remove('next-caption');
            captions[1].classList.add('current-caption');
            captions[2].classList.add('next-caption');
            let last_caption = captions.length -1;
            
            // console.log(last);
            captions[last].classList.remove('previous-caption');
            
            let placeholder = slides.shift();
            let captions_placeholder = captions.shift();
            slides.push(placeholder); 
            captions.push(captions_placeholder);
        }
        
        let heading = document.querySelector('.caption-heading');
        
        
        // https://jonsuh.com/blog/detect-the-end-of-css-animations-and-transitions-with-javascript/
        function whichTransitionEvent(){
            var t,
                el = document.createElement("fakeelement");
        
            var transitions = {
            "transition"      : "transitionend",
            "OTransition"     : "oTransitionEnd",
            "MozTransition"   : "transitionend",
            "WebkitTransition": "webkitTransitionEnd"
            }
        
            for (t in transitions){
            if (el.style[t] !== undefined){
                return transitions[t];
            }
            }
        }
        
        var transitionEvent = whichTransitionEvent()
        caption.addEventListener(transitionEvent, customFunction);
        
        function customFunction(event) {
            caption.removeEventListener(transitionEvent, customFunction);
            console.log('animation ended');
        
            // Do something when the transition ends
        }
  
    </script>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- owl carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            margin: 10, 
            loop: true, 
            dots: false,
            responsiveClass: true,
            responsive: {
                0:{
                    items: 1
                }
            },
            autoplay:true,
            autoplayTimeout:5000,
            autoplayHoverPause:true
        });
        });
    </script>
    <!-- owl carousel -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            responsiveClass:true,
            dots: false,
            responsive:{
                0:{
                    items:1,
                    nav:true
                }
            }
        })
    </script> -->
</body>

</html>