/* import fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
body {
    background-color: #090030;
    color: #e2e4eb;
}

#completed {
    display: none;
}


/* import fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/* desktop view */

@media only screen and (min-width: 800px) {
    /* navigation */
    .navbar {
        margin-bottom: 0;
    }
    .nav.navbar-nav {
        margin-left: 85%;
        margin-top: 0.6%;
    }
    .navbar-brand>img.logo {
        width: 30px;
        position: absolute;
        top: 1%;
    }
    .navbar-default {
        height: 70px;
    }
    /* top-header */
    .top-header{
        background-color: black;
        height: 50px;
        width: 100%;
        color: white;
        padding-top: 1%;
    }
    /* banner */
    .banner {
        background-image: url('../images/geometric-shapes.jpg');
        height: 580px;
        width: 100%;
    }
    .text-wrapper {
        padding-top: 10%;
        padding-left: 5%;
    }
    .header>h3 {
        font-size: 225%;
        letter-spacing: 2px;
        line-height: 150%;
        font-weight: bold;
    }
    .button-call-to-action > a {
        padding: 15px 100px;
        background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
        border: none;
        position: absolute;
        top: 70%;
        left: 6%;
        z-index: 11;
        color: white
    }

    .extra-info{
        color: white;
        background: linear-gradient(to right, #00C9FF, #92FE9D);
        height: 55%;
        width: 29%;
        position: relative;
        top: -68%;
        left: 66%;
        z-index: 9;
    }

    .extra-info > h3 {
        padding: 24%;
        line-height: 173%;
    }

    .extra-info > .btn-primary {
        border-radius: 0;
        background-color: #ff0d00;
        margin-top: -35%;
        margin-left: 29%;
        padding: 3% 10%;
    }

    
    /* about us */
    .line-under {
        border: 2px solid #b7bace;
        width: 70px;
        margin: 10px 43%;
    }
    #about-us-image {
        float: left;
        margin-top: 8%;
        margin-left: 4%;
    }
    #about-side-image {
        width: 300px;
        margin: 5% 28%;
    }
    .desktop-f-r {
        float: right;
        clear: right;
        width: 50%;
    }

    .background-right {
        background-color: #6f042b;
        margin-top: 4%;
        margin-right: 4%;
        -webkit-box-shadow: 22px 27px 31px 9px rgba(0,0,0,0.43);
    -moz-box-shadow: 22px 27px 31px 9px rgba(0,0,0,0.43);
    box-shadow: 22px 27px 31px 9px rgba(0,0,0,0.43);

    }
    .parallax {
        /* The image used */
        background-image: url("https://cdn.pixabay.com/photo/2016/11/29/09/16/architecture-1868667_960_720.jpg");
      
        /* Set a specific height */
        height: 600px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -3%;
      }

    #desktop-about-width {
        margin: 10% 10%;
    }
    .about-us-header {
        font-weight: bold;
        font-size: 180%;
        padding-top: 4%;
        padding-bottom: 2%;
    }
    .about-us {
        text-align: center;
        padding: 5% 6%;
        font-size: 140%;
        line-height: 184%;
    }
    /* how we work */
    .thin-border {
        clear: both;
        border: 3px solid #c7badd;
        border-radius: 17px;
        padding: 0 20px;
        width: 50%;
        margin: 0 auto;
        padding-top: 50px;
    }
    .how-we-work {
        background-color: #1E265B;
        padding: 20px 0;
    }
    .how-we-work-background {
        background: linear-gradient(142deg, rgba(65, 71, 118, 1) 10%, rgba(138, 142, 172, 1) 48%, rgba(30, 38, 91, 1) 90%);
        width: 60%;
        height: 110px;
        margin: 0 auto;
        color: white;
    }
    .how-we-work-background>h4 {
        padding-top: 13%;
        font-weight: bold;
        font-size: 165%;
    }
    .service-icon {
        background-color: #e2e4eb;
        height: 132px;
        width: 132px;
        border-radius: 50%;
        margin: 0 35%;
    }
    .service-images {
        width: 60.21px;
        height: auto;
        margin: 28% 28%;
    }
    .service-details {
        margin-bottom: 30px;
        color: #e2e4eb;
    }
    .main-service-header {
        font-size: 140%;
        font-weight: 900;
        letter-spacing: 2px;
        padding: 15px 0;
    }
    .main-service-subheading {
        margin: 0 15%;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 180%;
        font-weight: 300;
    }
    .chart-center {
        padding-left: 17%;
    }
    /* plans */
    .plans {
        background-color: #FFD557;
        padding: 20% 0;
        margin-bottom: 11%;
        color: #bd2600;
    }

    .plans:hover{
        background-color: #5781ff;
        color: white;
    }
    
    .plan-header{
        margin: 3% 0;
        font-size: 250%;
        margin-left: 1%;
        font-weight: bold;
    }

    .plan-header-inner {
        font-size: 210%;
        font-weight: bold;
    }

    .plan-amount {
        font-size: 180%;
        margin: 12% 0;
    }

    .plans > p {
        font-size: 90%;
        font-weight: lighter;
    }

    .plan-button {
        padding: 4% 17%;
        margin-top: 6%;
        border-radius: 0;
    }

    /* support */
    .help {
        background-color: #D7293A;
        color: white;
        padding: 80px 0;
        /* filter: drop-shadow(0, 10px, 25px, black); */
        box-shadow: 0 10px 25px black;
    }
    #support-email {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 4px;
    }
    .company-information-container {
        /* background-image: url('../images/right-shape.png'); */
        width: auto;
        height: 400px;
    }
    .company-name,
    .company-number {
        color: #C5C6CC;
        font-size: 14px;
        font-weight: 200;
    }
    .company-name>h3,
    .company-number>h3 {
        color: #88898D;
        font-size: 24px;
        font-weight: 500;
    }

    /* testimonials */
    .testimonial-parallax{
        /* The image used */
        background-image: url("../images/architecture-buildings-business-city-290595.jpg");
      
        /* Set a specific height */
        height: 400px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4%;
        box-shadow: 0 3000px rgb(105,105,105,  0.8) inset;
    }

    .testimonial-header {
        background-color: black;
        color: white;
        padding: 1% 10%;
    }

    .testimonial-body {
        margin-top: 3%;
    }

    .testimonial-header > h3 {
        text-transform: uppercase;
    }

    .testifier-image > img {
        border-radius: 50%;
        height: 50%;
    }

    .testifier-full-name {
        font-size: 110%;
        float: right;
        text-transform: uppercase;
        margin: 5% 0;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .testifier-message > p {
        font-size: 145%;
        font-weight: 300;
    }

    .message-body {
        margin-top: 5%;
    }

    /* img fix  */
    .owl-carousel .owl-item img {
        display: block;
        width: 80%;
        margin-top: 8%;
    }
    /* footer */
    footer {
        background-color: #201c42;
        width: 100%;
        color: #e2e4eb;
        /* margin: 1% 0; */
        padding-bottom: 1%;
    }
    .footer-contact-section>h3 {
        font-size: 30px;
        text-transform: uppercase;
    }
    .footer-contact-section>p {
        color: #7E7A7A;
        font-size: 15px;
    }
    .footer-contact-section>p>svg {
        margin-right: 1%;
    }
    .footer-img img {
        width: 100px;
        /* margin: 0 40%; */
    }
    .footer-link a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
        font-size: 18px
    }
    .footer-link a:hover {
        color: grey;
    }

    /* investment page */
    #investment-image {
        background: url('../images/abundance-bank-bank-notes-banking-259249.jpg');
        /* background: url('https://pixabay.com/get/57e6d6464a5bb114fedc8d74c52a3663143ad7e65454784e722b.jpg'); */
        /* width: 100%; */
        height: 180px;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        box-shadow: 0 3000px rgb(105,105,105,  0.8) inset;
    }

    #investment-header-container {
        width: 40%;
        height: 80px;
        padding-top: 4%; 
        margin: 0 auto;
        text-transform: uppercase;
    }

    .investment-body, .investment-body > .container > .row {
        margin: 3% 0;
    }

    .invest-in {
        font-size:  250%;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3%;
    }

    .investment-content > p {
        font-size: 120%;
        line-height: 33px;
        font-weight: 200;
    }

    .crude-oil {
        height: 100vh;
    }

    .invest-button {
        background-color: white !important;
        color: white;
        padding: 3% 8%;
        font-size: 15px;
        border-radius: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 4%;
    }

    .invest-button:hover {
        background-color: grey;
        color: white;
    }
}


/* mobile view */

@media only screen and (max-width:768px) {
    .top-header{
        background-color: black;
        padding: 7% 1%;
    }
    #about-us-image {
        display: none;
    }
    #under-construction {
        display: none;
    }
    #completed {
        display: contents;
    }
    .red {
        background-color: red;
    }
    /* navbar */
    .navbar {
        padding: 10px 0;
        margin-bottom: 0;
    }
    .logo {
        position: absolute;
        top: 12px;
        height: 50px;
        width: auto;
    }
    /* banner */
    .banner {
        position: relative;
        /* top: 10px; */
        background-image: url('../images/geometric-shapes.jpg');
        background-size: cover;
        width: 100%;
        height: 500px;
        color: white;
        letter-spacing: 1%;
    }
    .text-wrapper {
        margin-left: 30px;
    }
    .header {
        position: absolute;
        top: 80px;
        font-size: 30px;
        ;
    }
    .header>h3 {
        line-height: 151%;
        font-weight: 900;
    }
    .other-text {
        position: absolute;
        top: 208px;
        margin: 15px 0;
        margin-right: 150px;
    }
    .button-call-to-action > a {
        padding: 15px 100px;
        background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
        border: none;
        position: absolute;
        top: 70%;
        left: 10%;
        z-index: 11;
        color: white
    }

    .extra-info {
        background: linear-gradient(to right, #00C9FF, #92FE9D);
        margin-top: -5%;
        padding: 14%;
        text-align: center;
    }

    .extra-info > h3 {
        line-height: 180%;
        font-weight: bold;
    }

    /* about us  */
    .about-us-banner {
        /* background-image: url(../images/left-shape.png); */
        width: auto;
        height: 400px;
        padding-top: 2%;
    }
    .about-us-header,
    .bitcoin-information,
    .company-information {
        letter-spacing: 18%;
        font-size: 30px;
        font-weight: 900;
        padding: 10px 0;
        padding-top: 30px;
        color: #e2e4eb;
    }
    .about-us {
        margin: 0 8%;
        margin-top: 40px;
        text-align: center;
        line-height: 180%;
        font-size: 15px;
        letter-spacing: 1%;
    }
    .line-under {
        border: 2px solid #b7bace;
        width: 70px;
        margin: 10px 43%
    }

    .parallax {
        /* The image used */
        background-image: url("https://cdn.pixabay.com/photo/2016/11/29/09/16/architecture-1868667_960_720.jpg");
      
        /* Set a specific height */
        height: 450px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 61%;
      }
    /* how we work */
    .thin-border {
        position: absolute;
        border: 3px solid #c7badd;
        border-radius: 17px;
        padding: 0 20px;
        padding-top: 50px;
        width: 75%;
        margin: 0 10%;
        margin-top: -23%;
    }
    .how-we-work {
        background-color: #1E265B;
        padding: 20px 0;
    }
    .how-we-work-background {
        background: rgb(65, 71, 118);
        background: linear-gradient(142deg, rgba(65, 71, 118, 1) 10%, rgba(138, 142, 172, 1) 48%, rgba(30, 38, 91, 1) 90%);
        width: 239px;
        height: 101px;
        margin: 0 10%;
        color: white;
    }
    .services-padding {
        margin-top: 70px;
    }
    .service-header {
        letter-spacing: 6px;
        font-size: 16px;
        font-weight: 900;
        padding: 15% 0;
    }
    .service-icon {
        background-color: #e2e4eb;
        height: 132px;
        width: 132px;
        border-radius: 50%;
        margin: 0 35%;
    }
    .service-images {
        width: 60.21px;
        height: auto;
        margin: 28% 28%;
    }
    .service-details {
        margin-bottom: 30px;
        color: #e2e4eb;
    }
    .main-service-header {
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 2px;
        padding: 15px 0;
    }
    .main-service-subheading {
        margin: 0 15%;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 180%;
        font-weight: 300;
    }
    /* stats */
    .stats-outer-wrapper {
        padding: 30px 0;
    }
    .stats-container {
        padding: 20px 0;
    }
    .stats-icon {
        width: 80px;
        height: auto;
        margin: 0 40%;
    }

    /* plans */
    .plans {
        background-color: #FFD557;
        padding: 13% 0;
        margin-bottom: 6%;
        color: #bd2600;
    }

    .plans:hover{
        background-color: #5781ff;
        color: white;
    }
    
    .plan-header{
        margin: 12% 0;
        font-size: 310%;
        text-transform: uppercase;
        text-align: center;
        margin-left: 1%;
        font-weight: bold;
    }

    .plan-header-inner {
        font-size: 300%;
        text-transform: capitalize;
        font-weight: bold;
    }

    .plan-amount {
        font-size: 180%;
        margin: 12% 0;
    }

    .plans > p {
        font-size: 90%;
        font-weight: lighter;
    }

    .plan-button {
        padding: 4% 17%;
        margin-top: 6%;
        border-radius: 0;
    }

    
    /* support */
    .help {
        background-color: #D7293A;
        color: white;
        padding: 80px 0;
        /* filter: drop-shadow(0, 10px, 25px, black); */
        box-shadow: 0 10px 25px black;
    }
    #support-email {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 4px;
    }
    /* btcoin-information */
    .bitcoin-chart {
        margin: 10px 0;
        width: 347px;
        height: 224px;
    }
    /* company-information */
    .company-information-container {
        /* background-image: url('../images/right-shape.png'); */
        width: auto;
        height: 400px;
    }
    .company-name,
    .company-number {
        color: #C5C6CC;
        font-size: 14px;
        font-weight: 200;
    }
    .company-name>h3,
    .company-number>h3 {
        color: #88898D;
        font-size: 24px;
        font-weight: 500;
    }

    /* testimonials */
    .testimonial-parallax{
        /* The image used */
        background-image: url("../images/architecture-buildings-business-city-290595.jpg");
      
        /* Set a specific height */
        /* height: 400px; */
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4%;
        box-shadow: 0 3000px rgb(105,105,105,  0.8) inset;
    }

    .testimonial-header {
        background-color: black;
        color: white;
        padding: 1% 10%;
    }

    .testimonial-body {
        margin-top: 5%;
    }

    .testimonial-header > h3 {
        text-transform: uppercase;
    }

    .testifier-image > img {
        border-radius: 50%;
        height: 50%;
    }

    .testifier-full-name {
        font-size: 110%;
        text-transform: uppercase;
        margin: 5% 0;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .testifier-message > p {
        font-size: 110%;
        font-weight: 300;
    }

    .message-body {
        margin-top: 5%;
    }

    /* img fix  */
    .owl-carousel .owl-item img {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 8%;
    }
    
    /* footer */
    /* footer */
    footer {
        /* position: absolute; */
        background-color: #201c42;
        width: 100%;
        /* height: 350px; */
        margin-top: 220px;
        color: #e2e4eb;
        margin: 1% 0;
    }
    .footer-contact-section>h3 {
        font-size: 30px;
        text-transform: uppercase;
    }
    .footer-contact-section>p {
        color: #7E7A7A;
        font-size: 15px;
    }
    .footer-contact-section>p>svg {
        margin-right: 1%;
    }
    .footer-img img {
        width: 100px;
        /* margin: 0 40%; */
    }
    .footer-link a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
        font-size: 18px
    }
    .footer-link a:hover {
        color: grey;
    }
    /* other styling */
    /* bootstrap navbar-fixed-top reset */
    nav.navbar.navbar-default.navbar-fixed-top {
        background-color: #201c42;
    }
    /* crypto */
    .symbols {
        width: 12px;
    }
    .chart-resize {
        width: 60px;
    }
    /* table */
    .table {
        margin: 10px 0;
        margin-bottom: 30px;
    }
    /* support section extra styles */
    section h3 {
        font-weight: 900;
    }

    #investment-image {
        background: url('../images/abundance-bank-bank-notes-banking-259249.jpg');
        /* background: url('https://pixabay.com/get/57e6d6464a5bb114fedc8d74c52a3663143ad7e65454784e722b.jpg'); */
        /* width: 100%; */
        height: 180px;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        box-shadow: 0 3000px rgb(105,105,105,  0.8) inset;
    }

    #investment-header-container {
        padding: 0 7%;
        padding-top: 9%;
        margin: 0 auto;
        text-transform: uppercase;
    }

    .investment-body, .investment-body > .container > .row {
        margin: 3% 0;
    }

    .invest-in {
        font-size:  250%;
        text-transform: uppercase;
        text-align: center;
        margin: 7% 0;
    }

    .investment-content > p {
        font-size: 105%;
        font-weight: 200;
    }

    .invest-button {
        background-color: white !important;
        color: white;
        padding: 3% 8%;
        font-size: 15px;
        border-radius: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 8% 18%;
    }

    .invest-button:hover {
        background-color: grey;
        color: white;
    }
}

@media only screen and (max-width: 400px) {
    .how-we-work-background {
        margin: 0 -3%;
    }
}